/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(whitesmoke,rgb(48, 174, 224));
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
